:root {
  /* ----------------------------------------
     Fonts
  */
  /* --font-main-light: 'Roboto-Light', sans-serif;
  --font-main-regular: 'Roboto-Regular', sans-serif;
  --font-main-medium: 'Roboto-Medium', sans-serif;
  --font-main-bold: 'Roboto-Bold', sans-serif;
  --font-main-black: 'Roboto-Black', sans-serif; */

  /* Sizes */
  /* --font-size-main: 14px; */

  /* ----------------------------------------
     Colors
  */

  /* --color-white: #fff;
  --color-main-25: #fafafc;
  --color-main-50: #f2f2f8;
  --color-main-100: #e5e1f0;
  --color-main-200: #d4cfe1;
  --color-main-300: #958bb6;
  --color-main-400: #8f7cc7;
  --color-main-500: #6f609a;

  --color-grey-50: #f1f3f3;
  --color-grey-100: #f0f1f4;
  --color-grey-200: #e7e9ef;
  --color-grey-300: #d5d6d9;
  --color-grey-400: #acb1bd;
  --color-grey-500: #959bad;
  --color-grey-600: #818793;
  --color-grey-700: #5f646f;
  --color-grey-800: #363b44;
  --color-grey-900: #14161a;

  --color-blue-100: #dae4f7;
  --color-blue-300: #6188d3;
  --color-blue-400: #5177ef;
  --color-blue-700: #648393;

  --color-body-background: var(--color-main-25);
  --color-main-font: var(--color-grey-800); */
}
